{% extends "base.html" %}

{% block page-content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-10 col-md-auto">
                <h2>  {{ quiz.name }} </h2>
            </div>
        </div>


        <form action={% url 'buddy:results' quiz_id %} method="post">
            {% csrf_token %}
            {% for q in questions %}
                <div class="card two-top-margin">
                    <div class="card-header">
                        <h4>{{ q.question_text }}</h4>
                    </div>
                    <div class="card-block">
                        {% if not q.multiple_correct_answers %}
                            <fieldset id="{{ q.QUESTION_ID }}">
                                {% for answer in answers %}
                                    {% if answer.question_id == q.QUESTION_ID %}
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio"
                                                       value="{{ answer.ANSWER_ID }}"
                                                       name="{{ q.QUESTION_ID }}" id="{{ answer.ANSWER_ID }}">
                                                {{ answer.answer_text }}
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </fieldset>
                        {% else %}
                            <fieldset id="{{ q.QUESTION_ID }}">
                                {% for answer in answers %}
                                    {% if answer.question_id == q.QUESTION_ID %}
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox"
                                                       value="{{ answer.ANSWER_ID }}"
                                                       name="{{ q.QUESTION_ID }}" id="{{ answer.ANSWER_ID }}">
                                                {{ answer.answer_text }}
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </fieldset>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="card col-4 offset-4 two-top-margin add-quiz-button-container">
                <input class="btn btn-success" type="submit" value="Submit quiz"/>
            </div>

        </form>
    </div>
{% endblock %}