{% extends "base.html" %}
{% block navbar %}
    {% include "professor/professor_menu.html" %}
{% endblock %}
{% block page-content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Edit answer to {{ question.name }}
                <a target="_self"
                   class="btn btn-info"
                   href="{% url 'buddy:question-edit' question.pk %}">
                    Cancel
                </a>
            </div>
            <div class="card-block">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn-success btn" type="submit" value="Save"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}